.maindiv {
    background-color: #14141c;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    z-index: 1000;
}

.logo {
    text-decoration: none;
    background: linear-gradient(to right, #6e74ff, #f65aaa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.button {
    border: none;
    outline: none;
    color: white;
    font-family: inter;
    border-radius: 10px;
    background-color: #202126;
    border: 2px solid #f65aaa;
    width: 100px;
    height: 39px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
    border: 1px solid #9b59f6;
    background-color: #23232f;
}

.outer {
    height: max-content;
    width: max-content;
    border-radius: 50px;
    padding: 0px;
    border: 2px solid #b853e3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem;
}

.profile {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.groupinner {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.3s ease-in;
}

.groupinner:hover {
    background-color: #9f57f6;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.d {
    color: white;
    font-family: inter;
}

.rightSide {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.menuIcon {
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.overlayMenu {
    position: absolute;
    top: 80px;
    right: 1rem;
    background-color: #1f1f2b;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 12px 10px;
    z-index: 2000;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (max-width: 768px) {
    .menuIcon {

        display: block;
    }

    .logo {
        font-size: 24px;
    }

    .maindiv {
        height: auto;
        padding: 1.5rem;
    }

    .outer {
        position: static;
        height: 42px;
        width: 42px;
    }

    .profile {
        height: 38px;
        width: 38px;
    }
}

.groupdiv {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Hide on mobile */
@media screen and (max-width: 768px) {
    .groupdiv {
        display: none;
    }
}