.startButtonDiv {
  width: 100%;
  height: 55px;
  background-color: #23232f;
  border: 1px solid #30303c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.8rem;

}

.startButton {
  width: max-content;
  padding: 0.5rem;
  height: 41px;
  background-color: #7a2bf0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  transition: all 0.5s ease;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    background-color: #cc66de;
  }
}

.buttontwo {
  background-color: #181424;
  border: 1px solid white;
  transition: all 0.5s ease;

  &:hover {
    background-color: #28213c;
    scale: 1.1
  }
}

@media(max-width : 768px) {
  .startButtonDiv {
    gap: 2rem;
  }
}

.safeWalkModal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181424;
  border: 1px solid #e600ff;
  box-shadow: 0 0 20px #ff00ff66;
  border-radius: 12px;
  padding: 2rem;
  z-index: 1000;
  width: 90%;
  max-width: 450px;
  color: white;
}

.safeWalkModal h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #f15fff;
}

.safeWalkModal label {
  display: block;
  margin-top: 1rem;
  color: #e0e0e0;
  font-weight: 500;
}

.safeWalkModal input,
.safeWalkModal select {
  width: 100%;
  margin-top: 0.3rem;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #5b5b7a;
  background-color: #1f1b2e;
  color: white;
  font-size: 0.95rem;
}

.safeWalkModal input:focus {
  outline: none;
  border-color: #d147ff;
}

.modalButtons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.modalButtons button {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem;
  min-width: 200px;
  transition: all 0.3s ease;
}

.modalButtons .startBtn {
  background-color: #a054f4;
  color: white;
}

.modalButtons .startBtn:hover {
  background-color: #6c31a7;
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.useCurrentLocation {
  margin-top: 0.3rem;
  font-size: 0.85rem;
  color: #9a9aff;
  cursor: pointer;
}

.useCurrentLocation:hover {
  color: #d6b3ff;
}

.modalClose {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  background: transparent;
  color: #ccc;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}

@media(max-width : 445px) {
  .safeWalkModal {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}

@media (max-width: 445px) {
  .safeWalkModal {
    width: 95%;
    max-width: none;
    padding: 1.2rem 1rem;
  }

  .modalButtons {
    flex-direction: column;
    gap: 0.8rem;
  }

  .modalButtons button {
    width: 80%;
    align-self: center;
  }

  .modalClose {
    top: 0.4rem;
    right: 0.4rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  .safeWalkModal h2 {
    font-size: 1.2rem;
  }

  .safeWalkModal input,
  .safeWalkModal select {
    font-size: 0.85rem;
  }
}

.autocomplete-list {
  position: absolute;
  width: 100%;
  background-color: #1f1b2e;
  border: 1px solid #5b5b7a;
  border-radius: 8px;
  margin-top: 0.3rem;
  padding: 10px;
  list-style: none;
  max-height: 180px;
  min-height: 60px;
  overflow-y: auto;
  left: 0px;
  z-index: 2000;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


.autocomplete-item {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  color: #ccc;
  margin-bottom: 5px;
  border: 1px solid #5b5b7a;
}

.autocomplete-item:hover {
  background-color: #28213c;
}

.autocomplete-list::-webkit-scrollbar {
  width: 6px;
}

.autocomplete-list::-webkit-scrollbar-thumb {
  background-color: #7a2bf0;
  border-radius: 4px;
}

.autocomplete-list::-webkit-scrollbar-track {
  background: transparent;
}

.floating-buttons {
  position: absolute;
  bottom: 50px;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
  z-index: 899;
}

.floating-btn {
  background-color: #ae43f0;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: white;
}

.floating-btn:hover {
  background-color: #a856ff;
}

.danger {
  background-color: #14141c;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  box-shadow:
    0 0 10px rgb(255, 0, 60),
    0 0 10px rgba(235, 37, 96, 0.2);
  transition: all 0.4s ease;

  &:hover {
    background-color: #2e2e49;
  }
}

.alt-route {
  position: absolute;
  top: 35px;
  background-color: #0f172a;
  border-radius: 5px;
  border: 2px solid #2563eb;
  width: max-content;
  padding: 9px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: white;
    outline: none;
  box-shadow:
    0 0 10px rgba(37, 99, 235, 0.3),
    0 0 20px rgba(37, 99, 235, 0.2);
  transition: all 0.4s ease;
  z-index: 899;
  &:hover {
    background-color: #2e2e49;
  }
  cursor: pointer;
}
.alt-route.disabled-alt {
  background-color: gray !important;
  cursor: not-allowed;
  opacity: 0.6;
  transform: scale(0.98);
}

.stop {
  background-color: #dc2626;
  transition: all 0.4s ease;

  &:hover {
    background-color: #f54444;
  }
}

@media(max-width : 422px) {
  .floating-buttons {
    gap: 0.7rem;
  }

  .danger {
    font-size: 13px;
  }

}

@media(max-width : 480px) {
  .floating-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    gap: 13px;
    width: 100%;
  }

  .floating-btn {
    width: 75%;
    align-self: center;
    justify-content: center;
    font-size: 14px;
    padding: 0.5rem;
  }
}

.grp {
  height: 43px;
  position: relative;

}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.resume-modal {
  background-color: #141221;
  border: 2px solid #00ff88;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0 20px 2px #00ff88;
  max-width: 400px;
  width: 90%;
  color: #ffffff;
  text-align: center;
  animation: fadeIn 0.3s ease-out;
}

.resume-modal h2 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.resume-modal p {
  color: #ccc;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.button-group button {
  padding: 10px 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.button-group button:first-child {
  background-color: #00ff88;
  color: #000;
}

.button-group button:first-child:hover {
  background-color: #14ff9e;
  box-shadow: 0 0 10px #00ff88;
}

.button-group button:last-child {
  background-color: transparent;
  color: #00ff88;
  border: 1px solid #00ff88;
}

.button-group button:last-child:hover {
  background-color: #00ff88;
  color: #000;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.exitButton {
  background-color: #ef4444;
  transition: all 0.5s ease;

  &:hover {
    background-color: #dc2626;
    scale: 1.1;
  }
}

.map-loading-overlay {
  position: absolute;
  height: 90%;
  width: 96%;
  border-radius: 15px;
  background-color: rgba(15, 15, 30, 0.85);
  /* semi-transparent dark */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(4px);
}

.map-loading-box {
  background-color: #11101a;
  padding: 24px 32px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(187, 0, 255, 0.2);
  text-align: center;
  color: #a4a4a4;
  min-width: 280px;
  max-width: 320px;
}





.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.spinner-circle {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0d63f8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.load {
  border-left-color: #a162f7;
}

.loadd {
  position: relative;
  top: 5px;
}

.spinner-circle.small {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top: 2px solid #0d63f8;
  position: relative;
  top: 4px;
}

.floating-btn.processing {
  background-color: #666;
  pointer-events: none;
  justify-content: center;
  align-items: center;
}

.tracking-header {
  background-color: #18141c;
  padding: 10px 20px;
  border-radius: 12px;
  position: absolute;
  width: max-content;
  top: 20px;
  left: 50%;
  right: 0;
  z-index: 1000;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  transform: translateX(-50%);
  border: 1px solid #00ff88;
  box-shadow: 0 0 10px #3bea98;
  box-shadow: 0 0 10px #00ff88;
}

.tracking-subtitle {
  font-size: 14px;
  color: white;
}

.refresh-icon {

  font-size: 24px;
  z-index: 1001;
  transition: transform 0.3s linear;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pulse-marker {
  background: transparent;
}

.pulse-ring {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  animation: pulse 1.2s infinite ease-in-out;
  opacity: 0.6;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.4);
    opacity: 0.3;
  }

  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65); /* Transparent dark bg */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #181818; /* Dark modal box */
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 15px rgba(128, 44, 244, 0.5);
  max-width: 320px;
  border: 1px solid #802cf4;
}

.modal h2 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal p {
  color: #cccccc;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.modal button {
  background: linear-gradient(to right, #a855f7, #7e22ce);
  color: white;
  border: none;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.modal button:hover {
  background: linear-gradient(to right, #c084fc, #9333ea);
}
